
body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  display: flex-wrap;
}

.info {
  display: flex
  width: 150px;
  position: fixed;
  bottom: 10px;
  right: 10px;
} 

.inner-game {
  width: 33.33%;
  height: 33.33%; 
  box-sizing: border-box;
  border: 5px solid var(--main-game-division-color);
  display: flex;
  flex-wrap: wrap;
}

.inner-game-square {
  width: 33.33%;
  height: 33.33%; 
  box-sizing: border-box;
  border: 3px solid var(--inner-game-division-color);
}

.a,.c, .g, .i {
  border: 0;
}

.b, .h {
  border-top: 0;
  border-bottom: 0;
}

.d, .f {
  border-left: 0;
  border-right: 0;
}

.e {}

.inner-game-container {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 10px solid var(--main-bg-color);
  display: flex;
  flex-wrap: wrap;
}

.can-play-here-only {
  background-color: var(--play-here-color);
}

.winner {
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.won {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0px;
  margin-right: 0px;
  width: 100% !important;
  height: 100% !important;
  background-color: var(--winner-bg-color);
}

.tie {
  background-image: var(--tie-bg-image);
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: contain;
}